In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv("2020 unemployment.csv")
data.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value Flag Codes
0      AUS       HUR     TOT   PC_LF         M  2020-01  5.269611        NaN
1      AUS       HUR     TOT   PC_LF         M  2020-02  5.081623        NaN
2      AUS       HUR     TOT   PC_LF         M  2020-03  5.220101        NaN
3      AUS       HUR     TOT   PC_LF         M  2020-04  6.358871        NaN
4      AUS       HUR     TOT   PC_LF         M  2020-05  7.068942        NaN

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    535 non-null    object
 1   INDICATOR   535 non-null    object
 2   SUBJECT     535 non-null    object
 3   MEASURE     535 non-null    object
 4   FREQUENCY   535 non-null    object
 5   TIME        535 non-null    object
 6   Value       535 non-null    float64
 7   Flag Codes  21 non-null     object
dtypes: float64(1), object(7)
memory usage: 33.6+ KB

In [18]:
#split time into year and month 
time = data['TIME'].str.split("-", expand=True)
data['Year'] = time[0]
data['Month'] = time[1]
data.drop(['TIME','Flag Codes'], axis = 1, inplace = True)
data.head()

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     Value  Year Month
0      AUS       HUR     TOT   PC_LF         M  5.269611  2020    01
1      AUS       HUR     TOT   PC_LF         M  5.081623  2020    02
2      AUS       HUR     TOT   PC_LF         M  5.220101  2020    03
3      AUS       HUR     TOT   PC_LF         M  6.358871  2020    04
4      AUS       HUR     TOT   PC_LF         M  7.068942  2020    05

In [20]:
#Rename/re- columns names
data.columns = ['Location','Indicator','Subject','Measure','Frequency','Value','Year','Month']
data = data[['Location', 'Indicator', 'Subject', 'Measure', 'Year', 'Month', 'Frequency', 'Value']]
data.head()

  Location Indicator Subject Measure  Year Month Frequency     Value
0      AUS       HUR     TOT   PC_LF  2020    01         M  5.269611
1      AUS       HUR     TOT   PC_LF  2020    02         M  5.081623
2      AUS       HUR     TOT   PC_LF  2020    03         M  5.220101
3      AUS       HUR     TOT   PC_LF  2020    04         M  6.358871
4      AUS       HUR     TOT   PC_LF  2020    05         M  7.068942

In [21]:
data.to_csv('Updated 2020 unemployment.csv', index = None)